name: flutter_application_1
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

assets:
  - assets/images/interstellarposter.jpeg
  - assets/images/inceptionposter.jpeg
  - assets/images/jawsposter.jpeg
  - assets/images/avatarposter.jpeg
  - assets/images/avengersendgameposter.jpeg